@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

body{
    margin:0 ;
    text-align: center;
    font-family: 'Merriweather',sans-serif;
    font-size: 2rem;
    color: #40514E;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;    
    font-family: 'Sacramento',sans-serif;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: 600;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
    font-size: 25px;
}

p{
    font-size: 20px;
    line-height: 2rem;
}
hr{
    border: dotted #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto ;
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
    text-decoration: underline;
}
.top-container{
    background-color: #e4f9f5;
    height: 100vh;
    position: relative;
    padding-top: 60px;
}
.pro{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}
.middle-container{ 
    padding: 100px 0; 
}

.bottom-container{
    background-color: #66BFBF;
    position: relative;
    padding: 40px 0 10px;
}

.top-cloud{
    position: absolute;
    right:300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left:250px;
}
.mountain{
    position: relative;
    
}
.profile img{
    height: 250px;
    padding-top: 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto ;
    text-align: left;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 20px;
}

.cp-img{
    width: 25%;
    float: right;
    margin-left: 20px;
}

button{
    color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    background:linear-gradient(to right,#11cdd4, #11999e);
    border-radius: 8px;
    font-size: large;
    font-weight: 600;
    border-color: none;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
button:hover{
        background:linear-gradient(to right, #30e3cb, #2bc4ad);

}

.footer-link{
    margin: 20px;
    display: absolute;
    top: 200px; 
    font-size: 20px;  
    font-weight: 600; 
}

.copyright{
    color: aliceblue;
    font-size: 12px;
    padding: 20px 0;
}